
        *{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        body{
            width: 70%;
            margin: auto;
            border: 2px solid black;
        }
        #header{
            display: flex;
            justify-content: space-between;
            background-color: green;
            height: 40px;
            position: fixed;
            width: 69.6%;
            padding-top: 12px;
            
           
           
        }
        .main{
            display: flex;
            justify-content: space-between;
            gap:5px;
            cursor: pointer;
            

        }
        #head{
            text-align: center;
            padding-top: 45px;
        }
        .item{
            position: relative;
            right: 50px;

        }
        .mainbox{
            display: flex;
            justify-content: space-between;
            height: 40vh;
            width: 100%;
           
        }
        .main1{
            border: 2px solid purple;
            height: 30vh;
            width: 20vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 30px;
            
            
        }
        .main11{
            border: 2px solid red;
            height: 30vh;
            width: 20vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 30px;
            position: sticky;
            
        }
        
        .box1{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            color: white;
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            
            
        }
        .box2{
            height: 50px;
            width: 57px;
            border: 2px solid purple;
            color: white;
            border-radius: 5px;
            background-color: rgb(31, 5, 31);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
        }
        .box3{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;

            
        }.box4{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            
        }
        .box5{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            
        }
        .box6{
            height: 50px;
            width: 57px;
            border: 2px solid purple;
            position: relative;
            right: 60px;
            bottom: 50px;
            color: white;
            border-radius: 5px;
            background-color: rgb(31, 5, 31);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
        }
        .box7{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
           
        }
        .box8{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            
        }
        .box9{
            height: 50px;
            width: 57px;
            border: 2px solid purple;
            position: relative;
            left: 60px;
            bottom: 50px;
            color: white;
            border-radius: 5px;
            background-color: rgb(31, 5, 31);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
        }
        .heading{
            text-align: center;
            margin-top: 30px;
            
        }
        .box11{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            
            
        }
        .box12{
            height: 50px;
            width: 57px;
            border: 2px solid purple;
            color: white;
            border-radius: 5px;
            background-color: rgb(31, 5, 31);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
        }
        .box13{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            
        }.box14{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            
        }
        .box15{
            height: 50px;
            width: 57px;
            border: 2px solid purple;
            position: relative;
            top: 20px;
            left: 25px;
            border: 2px solid purple;
            color: white;
            border-radius: 5px;
            background-color: rgb(31, 5, 31);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            
        }
        .box16{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            
        }
        .box17{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            
        }
        .box18{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            
        }
        .box19{
            height: 50px;
            width: 57px;
            border: 2px solid purple;
            position: relative;
            right: 55px;
            bottom: 50px;
            border: 2px solid purple;
            color: white;
            border-radius: 5px;
            background-color: rgb(31, 5, 31);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
        }
        .box20{
            height: 50px;
            width: 57px;
            border: 2px solid purple;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main2{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .box22{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
        }
        .box23{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
        }
        .box24{
            height: 50px;
            width: 57px;
            border: 2px  solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            position: relative;
            
        }
        .main3{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: cornflowerblue;
            
        }
        .main2{
            border: 2px solid purple;
            width: 20vw;
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            overflow: scroll;
            left:35%;
            margin-top: 2px;
            margin-bottom: 30px;
            
            
        }
        .fixed{
            position: sticky;
            left: 70px;
            top: 30px;
            height: 45px; 
            width: 70px;
            border: 2px  solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            top:90px;
            padding:20px;
            
        }
        
        .main4{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .box25{
            height: 20px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
            border-top: none;
        }
        .box26{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
        }
        .main6{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-top: 7px;
            
        }
        .box{
            height: 50px;
            width: 57px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: rgb(15, 64, 15);
            font-size: 10px;
            text-align: center;
            padding-top: 10px;
            color: white;
        }
        .main7{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-top: 3px;
        }
        .main8{
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 5px;
            margin-top: 5px;
        }
        .color{
            border: red;
        }
        .box40{
            width: 43%;
        }
        .main9{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-top: 15px;
        }
        .main10{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
        }
        .box48{
            margin-left: 14%;
        }
        .box49{
            margin-right: 14%;
        }
        img{
            height: 20%;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-direction: column;
        }
        .head1{
            background-color: cornflowerblue;
        }
        .bigdiv{
            background-color: cornflowerblue;
        }
        .border{
            border: 1px solid red;
            width: 71%;
            margin: 12px;
            margin-left: 14%;
            
        }
        .footer{
            background-color: green;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 45px;
            flex-direction: row;
            height: 40px;
        }
        i:hover{
           color: black;
        }
        button:hover{
            background-color: aquamarine;
            
        }
        .nav:hover{
            color: aqua;
            
        }
        .logo{
            height: 30px;
            width: 40px;
            background-color: red;
            float: right;
            position: sticky;
            border-radius: 30px 0px 0px 30px ;
        }
        .box60{
            margin-bottom: 20px;
        }
        .nav1{
            color: brown;
        }
        .nav1:hover{
            color: brown;
        }